@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  color: hsl(192, 100%, 9%);
}

.main-container {
  width: 375px;
  margin: 0 auto;
}
@media (min-width: 1300px) {
  .main-container {
    width: 1300px;
    height: unset;
    font-size: unset;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 25px auto 100px;
}
@media (min-width: 1300px) {
  .navbar {
    width: 1200px;
    height: unset;
    font-size: unset;
  }
}
.navbar__logo {
  width: 95px;
  height: 16px;
}
@media (min-width: 1300px) {
  .navbar__logo {
    width: 240px;
    height: 38px;
    font-size: unset;
  }
}
.navbar__button {
  background-color: #fff;
  border: 1px solid hsl(321, 100%, 78%);
  border-radius: 50px;
  color: hsl(321, 100%, 78%);
  width: 80px;
  height: 24px;
  display: block;
}
@media (min-width: 1300px) {
  .navbar__button {
    width: 134px;
    height: 42px;
    font-size: unset;
  }
}
.navbar__button:hover {
  cursor: pointer;
  background-color: hsl(321, 100%, 78%);
  color: #fff;
}

.header__title, .ready__title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  width: 265px;
  margin: 0 auto 36px;
  font-size: 1.48em;
}
@media (min-width: 1300px) {
  .header__title, .ready__title {
    width: 1100px;
    height: unset;
    font-size: 2.98em;
  }
}
.header__description {
  text-align: center;
  margin: 0 auto 48px;
  font-weight: 600;
  line-height: 1.5em;
  font-size: 0.8em;
  width: 290px;
}
@media (min-width: 1300px) {
  .header__description {
    width: 590px;
    height: 80px;
    font-size: 1.25em;
  }
}
.header__button, .newsletter__button, .ready__button {
  background-color: hsl(322, 100%, 66%);
  border: 1px solid unset;
  border-radius: 50px;
  color: hsl(207, 100%, 98%);
  width: 200px;
  height: 40px;
  display: block;
  margin: 0 auto;
  border: none;
  margin-bottom: 200px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}
.header__button:hover, .newsletter__button:hover, .ready__button:hover {
  cursor: pointer;
  background-color: hsl(321, 100%, 78%);
  color: #fff;
}
@media (min-width: 1300px) {
  .header__button, .newsletter__button, .ready__button {
    width: 400px;
    height: 80px;
    font-size: 1.25em;
  }
}
.header__image {
  width: 300px;
  display: block;
  margin: 0 auto 138px;
}
@media (min-width: 1300px) {
  .header__image {
    width: 1020px;
    height: 725px;
    font-size: unset;
  }
}

.section-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(""), url("../images/bg-section-top-mobile-1.svg");
  background-repeat: no-repeat, no-repeat;
  background-position-y: top, bottom;
}
@media (min-width: 1300px) {
  .section-stats {
    flex-direction: row;
    justify-content: space-around;
    height: 800px;
  }
}
.section-stats .communities, .section-stats .messages {
  margin-bottom: 98px;
}
@media (min-width: 1300px) {
  .section-stats .communities__logo, .section-stats .messages__logo {
    width: 50px;
  }
  .section-stats .communities__number, .section-stats .messages__number {
    font-size: 6em;
  }
  .section-stats .communities__message, .section-stats .messages__message {
    font-size: 1.5em;
    text-align: center;
  }
}
.section-stats .communities__logo, .section-stats .messages__logo {
  width: 32px;
}
.section-stats .communities__number, .section-stats .messages__number {
  font-size: 4em;
}
.section-stats .communities__message, .section-stats .messages__message {
  font-size: 0.8em;
  text-align: center;
}
@media (min-width: 1300px) {
  .section-stats .communities__logo {
    width: 50px;
  }
  .section-stats .communities__number {
    font-size: 6em;
  }
  .section-stats .communities__message {
    font-size: 1.5em;
    text-align: center;
  }
}
@media (min-width: 1300px) {
  .section-stats .messages__logo {
    width: 42px;
  }
  .section-stats .messages__number {
    font-size: 6em;
  }
  .section-stats .messages__message {
    font-size: 1.5em;
    text-align: center;
  }
}
@media (min-width: 1300px) {
  .section-stats {
    background-image: url(""), url("../images/bg-section-top-desktop-1.svg");
  }
}

.section-grow, .section-flow, .section-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
}
@media (min-width: 1300px) {
  .section-grow, .section-flow, .section-users {
    flex-direction: row;
    justify-content: space-around;
    height: 800px;
  }
  .section-grow .image-container img, .section-flow .image-container img, .section-users .image-container img {
    width: 527px;
  }
  .section-grow .text-container__title, .section-flow .text-container__title, .section-users .text-container__title {
    text-align: left;
    font-size: 2.3em;
  }
  .section-grow .text-container__description, .section-flow .text-container__description, .section-users .text-container__description {
    text-align: left;
    font-size: 1.1em;
    width: 595px;
  }
}
.section-grow .image-container img, .section-flow .image-container img, .section-users .image-container img {
  width: 246px;
  margin-bottom: 78px;
}
.section-grow .text-container, .section-flow .text-container, .section-users .text-container {
  text-align: center;
}
.section-grow .text-container__title, .section-flow .text-container__title, .section-users .text-container__title {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  margin-bottom: 12px;
}
.section-grow .text-container__description, .section-flow .text-container__description, .section-users .text-container__description {
  font-size: 0.9em;
  width: 330px;
}

.section-flow {
  background-image: url("../images/bg-section-bottom-mobile-1.svg"), url("../images/bg-section-top-mobile-2.svg");
  background-repeat: no-repeat, no-repeat;
  background-position-y: top, bottom;
}
@media (min-width: 1300px) {
  .section-flow {
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 800px;
  }
  .section-flow .image-container img {
    width: 527px;
  }
  .section-flow .text-container__title {
    text-align: left;
    font-size: 2.3em;
  }
  .section-flow .text-container__description {
    text-align: left;
    font-size: 1.1em;
    width: 595px;
  }
}
@media (min-width: 1300px) {
  .section-flow {
    background-image: url("../images/bg-section-bottom-desktop-1.svg"), url("../images/bg-section-top-desktop-2.svg");
  }
}

.section-users, .section-grow {
  background-color: hsl(207, 100%, 98%);
}
@media (min-width: 1300px) {
  .section-users, .section-grow {
    flex-direction: row;
    justify-content: space-around;
    height: 800px;
  }
  .section-users .image-container img, .section-grow .image-container img {
    width: 527px;
  }
  .section-users .text-container__title, .section-grow .text-container__title {
    text-align: left;
    font-size: 2.3em;
  }
  .section-users .text-container__description, .section-grow .text-container__description {
    text-align: left;
    font-size: 1.1em;
    width: 595px;
  }
}

.ready {
  background-image: url("../images/bg-section-bottom-mobile-2.svg"), url("../images/bg-footer-top-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position-y: top, bottom;
  height: 600px;
  padding: 150px 0;
}
@media (min-width: 1300px) {
  .ready {
    background-image: url("../images/bg-section-bottom-desktop-2.svg"), url("../images/bg-footer-top-desktop.svg");
  }
}
.newsletter {
  background-color: hsl(192, 100%, 9%);
  color: hsl(207, 100%, 98%);
  padding: 70px 24px 40px;
}
.newsletter__subscription {
  margin-bottom: 100px;
}
.newsletter__title {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 12px;
}
.newsletter__description {
  font-size: 0.95em;
  margin-bottom: 24px;
}
.newsletter__input {
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.newsletter__button-container {
  display: flex;
  justify-content: flex-end;
}
.newsletter__button {
  width: 50%;
  border-radius: 5px;
  margin: 0;
}
@media (min-width: 1300px) {
  .newsletter__subscription {
    display: flex;
    width: 580px;
    height: 238px;
  }
  .newsletter__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .newsletter__title {
    font-size: 1.5em;
  }
  .newsletter__description {
    font-size: 1.1em;
    margin-bottom: 42px;
  }
  .newsletter__input {
    width: 90%;
    margin-bottom: 0;
  }
  .newsletter__button-container {
    align-items: flex-end;
  }
  .newsletter__button {
    width: 160px;
    height: 40px;
  }
}
.newsletter__social--logo {
  width: 206px;
  margin-bottom: 20px;
}
.newsletter__social--text {
  font-size: 0.95em;
  margin-bottom: 20px;
}
.newsletter__social--icons {
  display: flex;
  gap: 20px;
}
.newsletter__social--icon {
  width: 20px;
  height: 16px;
  margin-top: 3px;
}
.newsletter__social--text {
  color: hsl(207, 100%, 98%);
  text-decoration: none;
}
.newsletter__social--redes {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

@media (min-width: 1300px) {
  .newsletter {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .newsletter__social--logo {
    width: 250px;
  }
  .newsletter__social--text {
    font-size: 1.1em;
    width: 370px;
  }
}

/*# sourceMappingURL=style.css.map */
